:root{
--marginBig:64px;
--marginMiddle:40px;
--marginChild:16px;
--primarycolor: #212121;
--secondarycolor:#424242;
--threecolor:#616161;
}
body{
  margin: 0;
  font-family: 'Roboto';
  color: var(--primarycolor);
}
html{
  scroll-behavior: smooth;
}
.hero{
  block-size: 50px;
  background-size: 6.6%;
  background-image: url(../images/patron-1.png),linear-gradient(to top, rgba(255,255,255,.5) 15px,transparent);
}
 .header-wrapper{
   margin-inline: var(--marginChild);
 }
 details, header h4:nth-of-type(2){
   display: none;
 }
.projects li{
  color: #808080;
  list-style: none;
}
.projects li:first-child{
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline-start: 8px;
}
.projects li, h4{
  font-size: 14px;
}
h4{
  margin-block-end: var(--marginChild);
}
li a{
 text-decoration: none;
 color: inherit;
 font-weight: 400;
}
ol li, ul li, h4, li a, .projects li{
  line-height: 24px;
}
ul li{
  margin-block: var(--marginChild);
}

hr{
  margin-block: var(--marginMiddle);
}
h1{
  margin-block-start: 48px;
  margin-block-end: var(--marginChild);
  color: var(--primarycolor);
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
}
p{
  line-height: 24px;
  color: var(--secondarycolor);
}
h1 + p{
  margin-block-end: var(--marginMiddle);
}
h2{
  margin-block-start: var(--marginMiddle);
  margin-block-end: 24px;
}
section img{
  display: block;
}
section:nth-of-type(2) img, section:nth-of-type(3) img{
 inline-size: 100%;
}
section h3{
  display: inline-block;
  margin-block-start: var(--marginChild);
  margin-block-end: 4px;
  counter-increment: list-content;
  position: relative;
  padding-block-end: 8px;
}
section h3::before{
  content: counter(list-content) ". ";
}
section h3::after{
  content: " ";
  width:100%;
  height: 4px;
  display: inline-block;
  position: absolute;
  background-color: var(--secondarycolor);
  left: 0;
  bottom: 0;
}
section{
  counter-reset: list-content;
}
pre{
  background-color: #FEC62E;
  padding-inline: 40px;
  padding-block: 40px;
  overflow: scroll;
}
blockquote {
  border-left: 4px solid var(--primarycolor);
  padding-inline-start: 16px;
  margin: 0;
}
blockquote p{
  line-height: 32px;
  margin-inline-end: 4px;
}
blockquote p:last-of-type{
  color: var(--threecolor);
}
blockquote p:last-of-type::before{
  content: "- ";
}
.main .wrapper{
  min-inline-size: 328px;
  margin-inline: auto;
  padding: 20px
}
.contact p{
  margin: 0;
}
.contact a{
 color: var(--secondarycolor);
}
h4{
  line-height: 28px;
  font-size: 24px;
  margin-block: 40px;
}
form input{
  display: block;
  border-radius: 20px;
  box-sizing: border-box;
  margin-block-end: 12px;
  padding-block: 12px;
  padding-inline-start: var(--marginChild);
  padding-inline-end: var(--marginBig);
  font-size: 16px;
  border: 1px solid var(--threecolor);
}
form input:nth-of-type(2){
   position: absolute;
}
form input::placeholder{
  color: var(--secondarycolor);
}
form input[type="submit"]{
  border: none;
  background-color: #000;
  color: white;
  padding-inline: 16px;
  position: relative;
  right: -180px;
}
footer{
  block-size: 174px;
  background: #212429;
  color: white;
  padding-block-start: 48px;
  padding-inline: 43px;
}
footer strong{
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-block-end: var(--marginChild);
}
.social{
  text-align: center;
}
.social img{
  margin-inline-end: 19px;
}
.slider-container{
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  margin-block-end: var(--marginChild);
}
iframe{
  margin: 0;
  display: inline-block;
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list{
  text-align: center;
}
.slider-bullet{
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: var(--primarycolor);
  border-radius: 50%;
}
@media screen and (min-width:1366px) {
  .hero{
    block-size: 350px;
  }
   details, header h4:nth-of-type(2){
     display: block;
   }
   header{
    inset-block-start:0;
    margin-inline-end: 24px;
  }
   .header-wrapper{
    position: absolute;
    max-inline-size: 536px;
    display: inline-block;
    inset-inline-start: -116px;
  }
  .header-content, .header-wrapper{
    margin-inline-start: 116px;
  }
   .header-content{
    position: relative;
    margin-inline-end: 160px;
  }
  details{
    margin-block-start: var(--marginChild);
  }
  summary, h4{
    color: var(--threecolor);
    font-weight: 700;
  }
  .main .wrapper{
    inline-size: 902px;
    margin-inline-end: 116px;
  }
  .main-content, .main .wrapper{
    padding-inline-start: 85px;
  }
}
@media screen and (min-width:728px) {
  form input{
    display: inline-block;
    margin-inline-end: 4px;
  }
}

